@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>
    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <NotAuthorized>
                    <button @onclick="@LogIn">
                        <span class="oi oi-account-login" aria-hidden="true"></span> Log in
                    </button>
                </NotAuthorized>
                <Authorized>
                    <button @onclick="@LogOut">
                        <span class="oi oi-account-logout" aria-hidden="true"></span> Log out
                    </button>
                </Authorized>
            </AuthorizeView>
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>