@inherits LayoutComponentBase

<link rel="stylesheet" href="css/mainLayout.css">

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>
    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <NotAuthorized>
                    <button class="btn" @onclick="@LogIn">
                        <i class="oi oi-account-login"></i> Log in
                    </button>
                </NotAuthorized>
                <Authorized>
                    <button class="btn" @onclick="@LogOut">
                        <i class="oi oi-account-logout"></i> Log out
                    </button>
                </Authorized>
            </AuthorizeView>
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>