.buttonCont{
    display: flex;
    width: 300px;
    justify-content: space-between;
}




.cont{
    display: flex;
    justify-content: center;
}

.toplist-name {
    font-weight: bold;
}

p{
    font-size: 27px;
    text-align: center;
}
