.wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
}

.movie-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2vh;
    margin-top: 10px;
}

.centered-container button {
    margin-right: 10px;
}
.centered-container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 18vh;
    margin-bottom: 30px;
}

.delete-button {
    margin-top: 10px;
    font-size: 14px;
    padding: 7px 13px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

p{
    padding-bottom: 30px;
}