@page "/CreateToplist"

<PageTitle>Create top list</PageTitle>
<AuthorizeView>
    <link rel="stylesheet" href="css/createTopList.css">

    <h1>Create a new top list</h1>

    <text> &nbsp; &nbsp; &nbsp;</text>

    <!-- Title section -->
    <div class="title">
        <label for="toplistName" class="toplistName">Toplist Name:</label>
        <input id="toplistName" type="text" @bind="topList.Title" placeholder="Title of the top list"/>
    </div>
    <br>


    <!-- Search section -->
    <div class="searchBar">
        <label class="searchL">Search for movies to add in the top list:</label>
        <br>
        <table>
            <tr>
                <td>
                    <div class="text-center">
                        <input class="search" @bind-value="searchText" placeholder="Search by title"/>
                    </div>
                </td>
                <td>
                    <button class="btn btn-dark" @onclick="@Search">Search</button>
                </td>
            </tr>
        </table>
    </div>

    <br>

    <!-- Movie clip section -->
    <div class="wrapper">
        @if (!searchedMovies.Any())
        {
            @foreach (var id in movieIds)
            {
                <div class="movie-card">
                    <TopListMovieCard movieId=@id></TopListMovieCard>
                    <button class="add-button" @onclick="(() => AddToTopList(id))">Add</button>
                </div>
            }
        }
        else
        {
            @foreach (var id in searchedMovies)
            {
                <div class="movie-card">
                    <TopListMovieCard movieId=@id></TopListMovieCard>
                    <button class="add-button" @onclick="(() => AddToTopList(id))">Add</button>
                </div>
            }
        }
    </div>
    <br>
    <br>

    <div class="selected-movies">
        <h4>Selected Movies:</h4>
        <ul>
            @if (!selectedMovies.Any())
            {
                <div class="selected-movies">
                    <li>Currently there are no selected movies</li>
                </div>

            }
            else
            {
                @foreach (var movie in selectedMovies)
                {
                    <div class="selected-movies">
                        <li>@movie.Title
                            <button class="remove-button" @onclick="(() => RemoveFromSelected(movie))">Remove</button>
                        </li>
                    </div>
                }
            }
        </ul>
    </div>

    <div class="centered-container">
        <button class="btn btn-dark" @onclick="AddToplistToDB">Create Top List</button>
    </div>
</AuthorizeView>

