@page "/delete-toplist/{topListId:int}"

<link rel="stylesheet" href="css/deleteTopList.css">

<PageTitle>Delete Toplist</PageTitle>
<h1>Confirm your delete action</h1>

    <h3>Are you sure you want to delete your @topListName top list?</h3>
    <br/>
    <div class="cont">
    <div class="buttonCont">
        <button class="btn btn-dark" @onclick="@doNotDeleteTopList">No</button>
        <button class="btn btn-dark" @onclick="@deleteTopList">Yes</button>
    </div>
</div>