@page "/"

<PageTitle>Home</PageTitle>

 <link rel="stylesheet" href="css/home.css">

<h1>Welcome to Movie4U</h1>

<h4>On our website you can:</h4>
<ul>
    <li>
        <span class="oi oi-star" aria-hidden="true"></span><a href="/top-movies">See top 20 movies of all time</a>
    </li>
    <li>
        <span class="oi oi-magnifying-glass" aria-hidden="true"></span><a href="/SearchMovie">Search for a movie</a>
    </li>
    <li>
        <span class="oi oi-list-rich" aria-hidden="true"></span>See details of a movie
    </li>
</ul>

<h4>As a user you can:</h4>
<ul>
    <li>
        <span class="oi oi-heart" aria-hidden="true"></span><a href="/top-lists">Create your personalized top lists</a>
    </li>
    <li>
        <span class="oi oi-bar-chart" aria-hidden="true"></span><a href="/CommentedMovies">See statics about comments on our platform</a>
    </li>
    <li>
        <span class="oi oi-comment-square" aria-hidden="true"></span>Leave comments on movies
    </li>
    
</ul>