@page "/login"
<PageTitle>Log in</PageTitle>
 <link rel="stylesheet" href="css/signUp.css">

<EditForm Model="@user" OnValidSubmit="@UserLogIn">
    <div class="outsideCont">
        <div class="centerCont">
    <div>
        <h3>Movie Library Register</h3>
    </div>
    <div>
        <br />
    </div>
   
        <input class="form-control col-12" @bind-value="user.EmailAddress" placeholder="Email Address" />
  
    <br />

        <input type="password" class="form-control col-12" @bind-value="user.Password" placeholder="Password" />

    <br />

        <span class="col-12"></span>
        <input type="submit" class="form-control col-6 btn btn-dark" value="Log in" />
        <br />
        <a href="/signup" class="col-6">Are you a new user?</a>
 
    <br />
    <div class="col-12 row">
        <span class="col-12">@LoginMessage</span>
    </div>
    </div>
    </div>
</EditForm>