@page "/TopListMovieCard/{movieId:int}"

<AuthorizeView>
    <link rel="stylesheet" href="css/topListMovieCard.css">

    <a @onclick="@GetIndividualMovie">
        <div class="card">
            <div class="image">
                <img src="@movie.Image" alt="Movie image">
            </div>
            <div class="container">
                <h4>@movie.Title</h4>
            </div>
        </div>
    </a>
</AuthorizeView>