@page "/top-movies"

  <link rel="stylesheet" href="css/topMovies.css">

<h1>Top 20 movies of all times</h1>
<div class="cont">
    <ol>
        @foreach (var movie in movies)
        {
            //Add the moviecard
            //<li class="movieCard"></li>
            
        }
    </ol>
</div>